html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom right, #100c08, #080808, #100c08);
}

.name{
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.5;
    word-spacing: 2;
}

.desc{
    font-size: 1.5em;
    color: rgb(197, 196, 196);
    text-transform: lowercase;
    line-height: 1;
    letter-spacing: 1.5;
    word-spacing: 2;
}

.nav{
    margin-top: 2em;

}

.nav a{
    color: white;
    text-decoration: underline;
}

.nav a:hover{
    color: wheat;
}
