html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #100c08, #2e2d2d, #100c08) no-repeat;
}

.container{
    padding-top: 2em;
}

.name{
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.5;
    word-spacing: 2;
    font-family: 'Acme', sans-serif;
}

.desc{
    font-size: 1.5em;
    color: rgb(197, 196, 196);
    text-transform: lowercase;
    line-height: 1;
    letter-spacing: 1.5;
    word-spacing: 2;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.21em;
}

.nav{
    margin-top: 2em;

}

.content a{
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-family: 'Khand', sans-serif;
}

.content a:hover{
    color: wheat;
    border-bottom: 1px solid wheat;
    text-decoration: none;
}

.nav a{
    color: white;
    font-family: 'Khand', sans-serif;
    border-bottom: 1px solid white;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 1.1rem;
}

.nav a:hover{
    color: wheat;
    text-decoration: none;
    border-color: wheat;
}

.content{
    color: white;
    margin-top: 2em;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2rem;
}

details{
    margin-top: 1.5em;
}

details:nth-last-child(1){
    margin-bottom: 4em;
}

details summary{
    cursor: pointer;
    position: relative;
    list-style: none;
}

details summary::-webkit-details-marker{
    display: none;
}

details summary:before{
    content: "[ + ]";
    color: white;
    display: block;
    float: left;
    margin-right: 10px;
}

details[open] summary:before{
    content: "[ – ]";
}

details summary:hover, details summary:hover::before{
    color: wheat;
}

details > div{
    width: 80%;
    margin: auto;
    text-align: justify;
}

footer{
    margin: 0;
    color: white;
    text-align: right;
}

hr{
    height: 1px;
    color: white;
    background-color: white;
    border: none;
    margin-bottom: 0 !important;
}

details summary:focus{
    outline: 0;
}

@media screen and (max-width: 480px){
    .name{
        text-align: center;
        font-size: 3em;
    }

    .desc{
        text-align: center;
    }
}
